[submodule "kernel"]
	path = kernel
	url = https://github.com/bitweaver/kernel.git
[submodule "languages"]
	path = languages
	url = https://github.com/bitweaver/languages.git
[submodule "liberty"]
	path = liberty
	url = https://github.com/bitweaver/liberty.git
[submodule "storage"]
	path = storage
	url = https://github.com/bitweaver/storage.git
[submodule "temp"]
	path = temp
	url = https://github.com/bitweaver/temp.git
[submodule "themes"]
	path = themes
	url = https://github.com/bitweaver/themes.git
[submodule "users"]
	path = users
	url = https://github.com/bitweaver/users.git
[submodule "util"]
	path = util
	url = https://github.com/bitweaver/util.git
[submodule "articles"]
	path = articles
	url = https://github.com/bitweaver/articles.git
[submodule "blogs"]
	path = blogs
	url = https://github.com/bitweaver/blogs.git
[submodule "bnspell"]
	path = bnspell
	url = https://github.com/bitweaver/bnspell.git
[submodule "forums"]
	path = forums
	url = https://github.com/bitweaver/boards.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/bitweaver/calendar.git
[submodule "feed"]
	path = feed
	url = https://github.com/bitweaver/feed.git
[submodule "photos"]
	path = photos
	url = https://github.com/bitweaver/fisheye.git
[submodule "search"]
	path = search
	url = https://github.com/bitweaver/ilike.git
[submodule "messages"]
	path = messages
	url = https://github.com/bitweaver/messages.git
[submodule "newsletters"]
	path = newsletters
	url = https://github.com/bitweaver/newsletters.git
[submodule "nexus"]
	path = nexus
	url = https://github.com/bitweaver/nexus.git
[submodule "pigeonholes"]
	path = pigeonholes
	url = https://github.com/bitweaver/pigeonholes.git
[submodule "quicktags"]
	path = quicktags
	url = https://github.com/bitweaver/quicktags.git
[submodule "rss"]
	path = rss
	url = https://github.com/bitweaver/rss.git
[submodule "sharethis"]
	path = sharethis
	url = https://github.com/bitweaver/sharethis.git
[submodule "smileys"]
	path = smileys
	url = https://github.com/bitweaver/smileys.git
[submodule "stars"]
	path = stars
	url = https://github.com/bitweaver/stars.git
[submodule "stats"]
	path = stats
	url = https://github.com/bitweaver/stats.git
[submodule "downloads"]
	path = downloads
	url = https://github.com/bitweaver/treasury.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/bitweaver/wiki.git
[submodule "install"]
	path = install
	url = https://github.com/bitweaver/install.git
[submodule "gatekeeper"]
	path = gatekeeper
	url = https://github.com/bitweaver/gatekeeper.git
[submodule "quota"]
	path = quota
	url = https://github.com/bitweaver/quota.git
[submodule "tags"]
	path = tags
	url = https://github.com/bitweaver/tags.git
[submodule "config/themes/bootstrap"]
	path = config/themes/bootstrap
	url = https://github.com/bitweaver/theme_bootstrap.git
[submodule "config/externals/adodb"]
	path = config/externals/adodb
	url = https://github.com/bitweaver/adodb.git
[submodule "config/themes/journal"]
	path = config/themes/journal
	url = https://github.com/bitweaver/theme_journal.git
[submodule "config/themes/slate"]
	path = config/themes/slate
	url = https://github.com/bitweaver/theme_slate.git
[submodule "config/themes/cerulean"]
	path = config/themes/cerulean
	url = https://github.com/bitweaver/theme_cerulean.git
[submodule "config/externals/smarty"]
	path = config/externals/smarty
	url = https://github.com/bitweaver/smarty.git
